.ad-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px
}

.ad-box>a {
    height: 60px;
    margin-bottom: 15px
}

.ad-box>a:last-child {
    margin-bottom: 0
}

.ad-box>a img {
    width: 100%;
    height: 100%
}

.form-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px
}

.form-item .ant-input-affix-wrapper-lg,.form-item .ant-input-lg {
    padding-top: 5px;
    padding-bottom: 5px
}

.form-item .form-label {
    font-size: 15px;
    width: 90px;
    text-align: right
}

.form-item .form-input {
    flex: 1
}

.logo-bg {
    background-image: url(/bushu/img/bg.10137dde.jpg)
}

.logo-text {
    text-shadow: 1px 1px 2px #fff
}

.logo-box {
    backdrop-filter: blur(5px)
}

.button-list {
    display: flex;
    justify-content: space-between
}

@media (min-width: 640px) {
    .button-list {
        justify-content:flex-start
    }
}

.button-list>.ant-btn {
    margin-right: .25rem;
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    font-size: .75rem;
    line-height: 1rem
}

@media (min-width: 640px) {
    .button-list>.ant-btn {
        margin-right:.75rem;
        flex: none;
        font-size: .875rem;
        line-height: 1.25rem
    }
}

.button-list>.ant-btn:last-child {
    margin-right: 0
}

.api-list {
    position: relative;
    z-index: 10
}

.api-list .api-item {
    position: relative;
    margin-right: .75rem;
    display: flex;
    height: 2.5rem;
    flex: 1 1 0%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    border-bottom-width: 2px;
    --tw-border-opacity: 0;
    --tw-bg-opacity: 1;
    background-color: rgba(243,244,246,var(--tw-bg-opacity));
    padding-top: .25rem;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.api-list .api-item:first-child.active,.api-list .api-item:first-child:hover {
    background-color: #ffe1cc
}

.api-list .api-item:nth-child(2).active,.api-list .api-item:nth-child(2):hover {
    background-color: #d0eaf7
}

.api-list .api-item:nth-child(3).active,.api-list .api-item:nth-child(3):hover {
    background-color: #d7eedf
}

.api-list .api-item.active {
    --tw-border-opacity: 1
}

.api-list .api-item:last-child {
    margin-right: 0
}

.api-list .api-item img {
    margin-right: .5rem;
    height: 1rem
}

@media (min-width: 640px) {
    .api-list .api-item img {
        height:1.5rem
    }
}

.dialog .ant-modal {
    top: 5vh;
    width: 90%!important;
    max-width: 500px
}

/*! tailwindcss v2.2.17 | MIT License | https://tailwindcss.com */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
html {
    -moz-tab-size: 4;
    tab-size: 4;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji
}

hr {
    height: 0;
    color: inherit
}

abbr[title] {
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,pre,samp {
    font-family: ui-monospace,SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

::-moz-focus-inner {
    border-style: none;
    padding: 0
}

:-moz-focusring {
    outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
    box-shadow: none
}

legend {
    padding: 0
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {
    margin: 0
}

button {
    background-color: transparent;
    background-image: none
}

fieldset,ol,ul {
    margin: 0;
    padding: 0
}

ol,ul {
    list-style: none
}

html {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5
}

body {
    font-family: inherit;
    line-height: inherit
}

*,:after,:before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor
}

hr {
    border-top-width: 1px
}

img {
    border-style: solid
}

textarea {
    resize: vertical
}

input::placeholder,textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

[role=button],button {
    cursor: pointer
}

:-moz-focusring {
    outline: auto
}

table {
    border-collapse: collapse
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button,input,optgroup,select,textarea {
    padding: 0;
    line-height: inherit;
    color: inherit
}

code,kbd,pre,samp {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace
}

audio,canvas,embed,iframe,img,object,svg,video {
    display: block;
    vertical-align: middle
}

img,video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,:after,:before {
    --tw-border-opacity: 1;
    border-color: rgba(229,231,235,var(--tw-border-opacity));
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
    --tw-shadow: 0 0 transparent;
    --tw-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
    --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    --tw-backdrop-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-opacity: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-sepia: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.z-0 {
    z-index: 0
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem
}

.ml-2 {
    margin-left: .5rem
}

.mb-3 {
    margin-bottom: .75rem
}

.mt-7 {
    margin-top: 1.75rem
}

.mb-5 {
    margin-bottom: 1.25rem
}

.mr-2 {
    margin-right: .5rem
}

.mt-3 {
    margin-top: .75rem
}

.mr-1 {
    margin-right: .25rem
}

.mr-3 {
    margin-right: .75rem
}

.block {
    display: block
}

.flex {
    display: flex
}

.h-\[100px\] {
    height: 100px
}

.h-9 {
    height: 2.25rem
}

.h-10 {
    height: 2.5rem
}

.w-full {
    width: 100%
}

.w-11\/12 {
    width: 91.666667%
}

.min-w-\[360px\] {
    min-width: 360px
}

.flex-1 {
    flex: 1 1 0%
}

.cursor-pointer {
    cursor: pointer
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.overflow-hidden {
    overflow: hidden
}

.rounded-md {
    border-radius: .375rem
}

.rounded {
    border-radius: .25rem
}

.border-b-2 {
    border-bottom-width: 2px
}

.border-\[\#ff6a00\] {
    --tw-border-opacity: 1;
    border-color: rgba(255,106,0,var(--tw-border-opacity))
}

.border-opacity-0 {
    --tw-border-opacity: 0
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity))
}

.bg-gray-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(107,114,128,var(--tw-bg-opacity))
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgba(229,231,235,var(--tw-bg-opacity))
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(243,244,246,var(--tw-bg-opacity))
}

.bg-opacity-5 {
    --tw-bg-opacity: 0.05
}

.bg-cover {
    background-size: cover
}

.bg-center {
    background-position: 50%
}

.bg-no-repeat {
    background-repeat: no-repeat
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.pt-1 {
    padding-top: .25rem
}

.text-center {
    text-align: center
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-\[14px\] {
    font-size: 14px
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.font-bold {
    font-weight: 700
}

.leading-9 {
    line-height: 2.25rem
}

.leading-5 {
    line-height: 1.25rem
}

.leading-6 {
    line-height: 1.5rem
}

.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgba(31,41,55,var(--tw-text-opacity))
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgba(75,85,99,var(--tw-text-opacity))
}

.text-red-500 {
    --tw-text-opacity: 1;
    color: rgba(239,68,68,var(--tw-text-opacity))
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)
}

.blur {
    --tw-blur: blur(8px);
    filter: var(--tw-filter)
}

.backdrop-filter {
    backdrop-filter: var(--tw-backdrop-filter)
}

.last\:mr-0:last-child {
    margin-right: 0
}

@media (min-width: 640px) {
    .sm\:mr-3 {
        margin-right:.75rem
    }

    .sm\:h-6 {
        height: 1.5rem
    }

    .sm\:flex-none {
        flex: none
    }

    .sm\:text-\[15px\] {
        font-size: 15px
    }

    .sm\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem
    }
}

@media (min-width: 1024px) {
    .lg\:w-\[800px\] {
        width:800px
    }
}
